.wrapper-for-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999999999;
    border-radius: 2px;
    overflow: hidden;
    .close-popup {
        position: absolute;
        top: 20px;
        right: 16px;
        font-size: 20px;
        padding: 8px;
        cursor: pointer;
        color: var(--white-color);
        svg {
            font-weight: 600;
        }
    }
}
