.footer__wrapper {
    padding: 20px 16px;
    margin: 5px 0 20px 0;
    .intro {
        gap: 8px;
        .item {
            a {
                color: var(--text-primary);
                font-size: 13px;
            }
        }
    }
    .coppy {
        margin: 10px 0 20px 0;
        gap: 10px;
        select {
            border: none;
            color: var(--text-primary);
            option {
            }
        }
        p {
            color: var(--text-primary);
            font-size: 13px;
            svg {
                color: var(--text-primary);
                background-color: transparent;
            }
            span {
                margin-left: 10px;
            }
        }
    }
}
